---
import Layout from "../../layouts/Layout.astro";
import RecipeDetails from "../../components/RecipeDetails.astro";
import { getCollection } from "astro:content";

export const getStaticPaths = async () => {
  const allRecipes = await getCollection(
    "recipes",
    (recipe) => recipe.data.draft !== true
  );

  return allRecipes.map((item) => ({ params: { recipe: item.slug } }));
};

const recipe = Astro.params;
const allRecipes = await getCollection(
  "recipes",
  (recipe) => recipe.data.draft !== true
);
const chosenRecipe = allRecipes.find((item) => item.slug === recipe.recipe);
---

<Layout title="Рецепт">
  <main>
    {chosenRecipe && <RecipeDetails recipe={chosenRecipe} />}
    {!chosenRecipe && <a href="/404" class="text-teal-200"></a>}
  </main>
</Layout>
