---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import RecipeCard from "../../components/RecipeCard.astro";

export const getStaticPaths = async () => {
  const allRecipes = await getCollection(
    "recipes",
    (recipe) => recipe.data.draft !== true
  );

  return allRecipes.map((item) => ({
    params: { category: item.data.category.value },
  }));
};
const allRecipes = await getCollection(
  "recipes",
  (recipe) => recipe.data.draft !== true
);

const category = Astro.params;
const filteredByCategoryRecipes = allRecipes.filter((item) => {
  return item.data.category.value === category.category;
});
---

<Layout title="Рецепти за категорією">
  <main>
    <h1 class="text-yellow-400">
      Рецепти за категорією: <span class="italic">{category.category}</span>
    </h1>
    <ul class="mt-32 flex justify-around gap-4 flex-wrap">
      {
        filteredByCategoryRecipes.map((item) => (
          <li class="mb-28">
            <RecipeCard recipe={item} />
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
