---

---

<header class="py-6 flex justify-between items-center">
  <ul class="flex items-center gap-6">
    <li>
      <a
        class="text-3xl font-semibold text-yellow-400 hover:text-yellow-500"
        href="/">Головна</a
      >
    </li>
    <li>
      <a
        class="text-3xl font-semibold text-yellow-400 hover:text-yellow-500"
        href="/recipes">Рецепти</a
      >
    </li>
    <li>
      <a
        class="text-3xl font-semibold text-yellow-400 hover:text-yellow-500"
        href="#">Рандом</a
      >
    </li>
  </ul>
  <div>
    <input
      class="py-2 rounded bg-black border-2 border-gray-400 text-slate-200 pl-2"
      type="text"
      placeholder="Пошук..."
    />
  </div>
</header>
