---
import { getCollection } from "astro:content";
import Search from "./Search";
const allRecipes = await getCollection(
  "recipes",
  (data) => data.data.draft !== true
);
---

<header class="py-6 flex flex-col md:flex-row gap-4 justify-between items-center">
  <ul class="flex items-center gap-6">
    <li>
      <a
        class="text-3xl font-semibold text-yellow-400 hover:text-yellow-500" 
        data-navLink
        href="/">Головна</a
      >
    </li>
    <li>
      <a
        class="text-3xl font-semibold text-yellow-400 hover:text-yellow-500" 
        data-navLink
        href="/recipes">Рецепти</a
      >
    </li>
    <li>
      <a
        class="text-3xl font-semibold text-yellow-400 hover:text-yellow-500" 
        data-navLink
        href="/random">Рандом</a
      >
    </li>
  </ul>
  <div>
    <Search client:load searchList={allRecipes} />
  </div>
</header>

<script src="../utils/navLink.ts"></script>
